<html lang="en">
<head>
    <title>Home</title>
</head>
<body>
    <h2>Home contact Form</h2>
    <form id="contact-form" method="POST" action="/">
        <label for="name">NAME</label>
        <input type="text" name="name">
        <label for="department">Department</label>
        <input type="text" name="department">
        <label for="email">Email</label>
        <input type="text" name="email">
        <input type="submit" value="SUBMIT">
    </form>

    <h2>Contact Display</h2>
    <ul>
    <% for(var i=0; i<data.length; i++){ %>
      <li>
      <p> Hello <b> <%= data[i].name %> </b> in the <b>
      <%= data[i].department %></b> Department and ur Loged in <b><%= data[i].email %></b></p>
    </li>
    <% } %>
    </ul>

</body>
</html>